body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eef5e1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.stickerContainer {
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
	max-width: 60%;
	max-height: 120px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.weeklyContainer {
	height: 60px;
	display: flex;
	justify-content: space-around;
	border-left: lightgray solid 2px;
	border-right: lightgray solid 2px;
	margin: 20px 0 20px 0;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}

.dailyCheckIn {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.progress {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
}

.progressDetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.frequency {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

p {
	margin: 5px;
}
